*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
settings.gradle
.idea/
app/.gitignore
app/google-services.json
app/proguard-rules.pro
app/src/androidTest/
app/src/test/
gradle.properties
gradle/
gradlew
gradlew.bat